extends layout

block content
  h1= title
  p #[em 地域図書館ホーム]へようこそ。モジラ開発者ネットワークのチュートリアル例として開発された、非常に基本的な Express ウェブサイトです。

  h1 コンテンツ

  p 図書館の記録数は以下の通り：

  ul
    li #[strong 本:] !{book_count}
    li #[strong 複写:] !{book_instance_count}
    li #[strong 複写可能:] !{book_instance_available_count}
    li #[strong 著者:] !{author_count}
    li #[strong ジャンル:] !{genre_count}
